.cards-component {

	/*DESKTOP STYLING*/
	/*==============*/

	.cards-container-desktop {
		margin: auto;
		position: relative;

		&.debug-outline {
			background-color: rgba(255, 0, 0, 0.15);
			outline: 1px dotted red;
		}

		.cards-trigger {
			position: absolute;
		}

		.card {
			position: absolute;
			background-color: #fff;
			text-align: center;
			border-radius: 10px;
			background-repeat: no-repeat;
			background-position: center;
		}

		.card-inner {
			padding: 10px;
		}

	}



}